@import items.Item

@(item: Item)

<div class="itemFull" id="@item.id">

    <div class="wrapper">

        <div class="content">
            <div class="data">
                <div class="content">

                    @if(item.description.isDefined) {
                        <p class="text"><b>Описание:</b> @item.description.get</p>
                    }
                    <p class="limit"><b>Можно хранить</b> @if(item.amountLimit == "-1") {∞} else {
                        @item.amountLimit
                    } единиц</p>
                    @if(item.giftLevel.isDefined) {
                        <p class="giftFrom"><b>Дарится</b> с @item.giftLevel.get уровня</p>
                    }
                    @if(item.rooms().nonEmpty) {
                        <p class="canFindAt"><b>Можно найти</b> @(item.rooms())</p>
                    }else {
                        <p class="canFindAt">Не находится в комнатах</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
